{
  "extends": "react-app",
  "globals": {
    "__PHANTOM__": true,
    "__CABINET_ENABLED__": true,
    "__CATALOG_ENABLED__": true,
    "__WEBSITE_URL__": true,
    "__DEV__": true,
    "__webpack_public_path__": true
  },
  "rules": {
    "import/no-webpack-loader-syntax": "off"
  }
}
