{
  "extends": "interactivethings",
  "rules": {
    "camelcase": 0,
    "comma-dangle": 0
  },
  "globals": {
    "__PHANTOM__": true,
    "__CABINET_ENABLED__": true,
    "__CATALOG_ENABLED__": true,
    "__WEBSITE_URL__": true
  }
}
